<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Expense</title>
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
  </head>
  <body>
    <form onsubmit="handleAddExpense(event)">
      <h2>Add Expense</h2>
      <div id="premiumuser_container">
        <button type="button" id="renderBtn">Pay Now</button>
        <h3 id="premiumuser"></h3>
      </div>
      <br /><br />
      <label for="amount">Enter the amount</label>
      <input type="text" name="amount" id="amount" />
      <label for="description">Add description</label>
      <input type="text" name="description" id="description" />
      <label for="category">Category</label>
      <select name="category" id="category">
        <option value="food">Food</option>
        <option value="transport">Transport</option>
        <option value="entertainment">Entertainment</option>
        <option value="petrol">Petrol</option>
        <option value="other">Other</option>
      </select>
      <button type="submit">Add</button>
    </form>

    <h2>All Expenses</h2>
    <ul id="expense-list"></ul>
    <div id = leaderboard_container></div>
  </body> 
  
  <script src="/js/cashfreeWeb_self.js"></script>             
 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/addExpense.js"></script>
</html>
