<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Expense</title>
  </head>
  <body>
    <form onsubmit="handleAddExpense(event)">
      <h2>Add Expense</h2>
      <label for="amount">Enter the amount</label>
      <input type="text" name="amount" id="amount" />
      <label for="description">Add description</label>
      <input type="text" name="description" id="description" />
      <label for="category">Category</label>
      <select name="category" id="category">
        <option value="food">Food</option>
        <option value="transport">Transport</option>
        <option value="entertainment">Entertainment</option>
        <option value="petrol">Petrol</option>
        <option value="other">Other</option>
      </select>
      <button type="submit">Add</button>
    </form>

    <h2>All Expenses</h2>
    <ul id="expense-list"></ul>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/addExpense.js"></script>
  </body>
</html>