<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker App</title>
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
  </head>
  <body>
    <h3>Expense Tracker App</h3>
    <form onsubmit="handleUserLogin(event)">
      <label for="email">Enter your email</label>
      <input type="email" name="email" id="email" required />
      <label for="password">Enter your password</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Login</button>
    </form>
    <p id="loginError" style="color: red;"></p> <!-- Error message will be displayed here -->
    <a href="/user/signup">New user</a>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/login.js"></script>
</html>