<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Store Seller</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>General Store</h1>
    <form id="itemForm" class="form">
        <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
        <div class="input-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <br>
        <div class="input-group">
            <label for="price">Price:</label>
            <input type="number"  id="price" name="price" required>
        </div>
        <br>
        <div class="input-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
        <br>
        <button type="submit">Add Item</button>
        <br><br>
    </form>
    <div class="container"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/index.js" defer></script>
</body>
</html>